# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar

# =========================
# Build / Dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.sqlite3